body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.post {
  background-color: #b3b7bd;
  border-radius: 15px;
  border: 2px solid black;
}

.header {
  text-align: center;
}



.likeButton {
  font-size: 25px;
}

.likeButton:hover {
  color: red;
} 

.likeButton:focus {
  outline: none;
}

.newPostForm {
  position: fixed;
  top: 27vh;
  left: 41vw;
  border: 2px solid black;
  border-radius: 15px;
  padding: 40px;
  background-color: #698ab3;
}

.postList {
  margin-left: 10vw;
  margin-right: 10vw;
  text-align: center;
}